<!DOCTYPE html>
<html>
    <head>
        <title>Real Estate Co.</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="about.css" />

        <link rel="stylesheet" href="css/uikit.min.css" />
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
        <!-- UIkit icons  -->
        <script src="uikit/dist/js/uikit-icons.min.js"></script>

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <!-- Pages -->
    </head>
    <body>
        <!-- NAVBAR MOBILE RESPONSIVE: Need to make divs to be stacked when collaspsed -->
        <div class="uk-position-relative" >
            <nav class="uk-navbar-container uk-margin" uk-navbar uk-sticky="sel-target: .uk-navbar-container; cls-inactive: uk-navbar-transparent uk-dark">
                <div class="uk-navbar-left">
                    <button type="button" data-uk-toggle="target: .navbar-collapse; cls: hidden-up-to-s" class="uk-navbar-toggle uk-hidden@s" data-uk-navbar-toggle-icon></button>
                    <div class="navbar-collapse hidden-up-to-s">
                        <div class="uk-navbar-right">
                            <ul data-uk-toggle="media: @s; cls: uk-navbar-nav uk-padding-remove; mode: media" class="uk-nav uk-nav-primary uk-padding-small uk-margin-small-right">
                                <li><a href="../../views/home/home.html">Home</a></li>
                                <li><a href="../../views/about/about.html">About</a></li>
                                <li>
                                    <a href="#" class="uk-active">Properties</a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="#">Current Listings</a></li>
                                            <li><a href="#">Sold Listings</a></li>
                                            
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="">Contact</a></li>
                            </div>
                        </div>
                        <div class="uk-child-width-expand@s uk-text-center uk-navbar-center uk-padding-small uk-margin-small-top" uk-grid>
                            <div class="uk-navbar-center uk-margin-small-left uk-text-normal uk-margin">
                                <ul class="uk-navbar-nav">
                                    <a class="uk-navbar-item uk-logo uk-active" href="#" >Real Estate Co.</a>
                                </ul>                       
                            <div>
                        </div>
                    </ul>
                </div>
            </nav> 
        <!-- Body -->
        <div class="uk-section uk-section-muted">
            <h1 class="uk-heading-line uk-text-center"><span>About</span></h1>                
            <div class="uk-grid-match uk-child-width" uk-grid>
                <div class="uk-text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="../../images/chair.jpg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Left</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
        
            
            
            
 
        <!-- FOOTER: Not sticky yet -->
        <div class="uk-section uk-section-secondary uk-light">
            <div class="uk-container">
                <h3 class="uk-flex-center ">Real Estate Co.</h3>
                <div class="uk-grid-match uk-width-xlarge" uk-grid>
                    <div>
                        <a href="" uk-icon="icon: facebook"></a>
                    </div>
                    <div>
                        <a href="" uk-icon="icon: twitter"></a>
                    </div>
                    <div>
                        <a href="" uk-icon="icon: instagram"></a>
                    </div>
                </div>
                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>